body {}
/* TABLE OF CONTENTS */
/*
			Line
			Container

			Heading
			Sheets
			Notice
			Footer
*/
.line {
	background-color: #333333;
	height: 30px;
}

.container {
	padding-top: 30px;
}
.container h1 {
	font-family: 'Mina', sans-serif;
	font-weight: 700;
}
.container h2 {
	font-family: 'Mina', sans-serif;
	font-size: 20px;
}

.heading {
	background-color: #333333;
	color: white;
	padding: 5%;
}
.heading h2 {
	text-align: right;
}
.heading p {
	text-align: justify;
}

.sheets {
	text-align: center;
}
.sheets img {
	width: inherit;
}
.sheets .row {
	background-color: #333333;
	display: inline-block;
	width: inherit;
	height: 30px;
}
.sheets .row:hover {
	background-color: rgba(33,33,33,0.8);
	font-size: 1.2em;
}
.sheets div a {
	text-transform: uppercase;
	text-decoration: none;
  color: white;
}

/*.extras {
	background-color: #333333;
	padding-bottom: 10px;
	padding-top: 10px;
}
.extras h2 {
	text-align: center;
	color: white;
}
.extras img {
	width: inherit;
}*/

.notice {
	color: #333333;
}
.notice h2 {
	font-weight: 700;
}
.notice .left {
	text-align: left;
}
.notice .mid {
	text-align: center;
}
.notice .mid img {
	width: inherit;
}
.notice .right {
	text-align: right;
}
.notice .right img {
	padding-left: 15px;
	float: right;
}

.footer {
	background-color: #333333;
	text-align: center;
	margin-top: 25px;
	color: white;
}
.footer p {
	margin-bottom: 5px;
	padding-top: 5px;
}
/*END*/